/* Corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #00cf11;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}



body.game-over {
    background-image: url('Darksouls.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}


body.game-over .game {
    display: none;
}

/* Conteneur principal du jeu */
.game {
    background-color: #1269ff;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    text-align: center;
    position: relative;
}


h1 {
    color: white;
}

/* Affichage du Tamagotchi (animal de compagnie) */
#pet {
    font-size: 100px;
    margin-bottom: 20px;
}

/* Section des statistiques */
#stats {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#stats p {
    font-size: 18px;
    margin: 10px 0;
}

/* Boutons d'interaction */
#Button {
    display: flex;
    justify-content: space-between;
}

.Button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Button:hover {
    background-color: #3b603d;
}

.Button:active {
    background-color: #3e8e41;
}

/* Message d'information ou d'état */
#Message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    opacity: 0; 
    animation: fadeInOut 4s forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0; /* Début invisible */
    }
    10% {
        opacity: 1; /* Apparition du texte */
    }
    90% {
        opacity: 1; /* Le texte reste visible */
    }
    100% {
        opacity: 0; /* Disparition du texte */
    }
}


.Button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}





/* Ajustement pour les petits écrans */
@media (max-width: 600px) {
    .game {
        width: 90%;
        padding: 15px;
    }

    #pet {
        font-size: 80px;
    }

    .Button {
        padding: 10px 15px;
        font-size: 14px;
    }
}
